body {
    margin: 0;
    background-color: #A7AFB5;
}
#container {
  margin: 100px auto;
  width: 1000px;
  height: 512px;
  background-color: #F4F4F4;
  box-shadow: 0px 5px 0px 0px #CCCCCC;
}
#game {
  float: left;
}
#text {
  float: left;
  padding: 25px;
  font-family: Arial;
}
